body {
    font-family: verdana, ;
    background-color: #BCB390;
}
h1 {
    color: #010101;
}
ul {
    list-style-type: none;
}
li {
    background-color: #A49A73;
    padding: 10px;
    margin-bottom: 5px;
}
